extends layouts/main
include mixins/videoPlayer
include mixins/avatar


block content
    .video-detail__container
        .video__player
            +videoPlayer(video)
            .video__info
                if user && video.creator.id === user.id
                    a(href=routes.editVideo(video._id)) 
                        button Edit Video
                h3.video__title=video.title
                span.video__views-and-date views: #{video.views}, upload date: #{createdAt}
                p.video__descritption=video.description
                .video__creator
                    span Upload by 
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
            .video__comment-title
                span.video__comments#jsNumComments #{video.comments.length} comment#{video.comments.length>0?"s":""}
        .comments__container
            form#jsCommentForm
                textarea.comment(name="comment", col="50", row="5", required, placeholder="Write your comment...")
                input.submit(type="submit", value="Commit!")
            .comments__container
                ul.comments__list#jsCommentUl
                    each comment in video.comments.reverse()
                        li.comment__list
                            +avatar(comment.creator, "30px")
                            .comment__content
                                span.comment__user=comment.creator.name
                                .comment__text
                                    span.comment__span=comment.text