header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form.header__search(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if user
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.userDetail(user._id)) Profile
                    li 
                        a(href=routes.logout) Log out
                else
                    li 
                        a(href=routes.join) Join
                    li 
                        a(href=routes.login) Log in
        .header__column
            if user
                if user.avatarUrl
                    img(src=user.avatarUrl, width=25, height=25).user__avatar
                a(href=routes.userDetail(user._id))
                    p.user__name #{user.name}